<nav style="--bs-breadcrumb-divider: '>';" class="border-bottom mb-4" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a href="#"><%= @app %></a></li>
    <li class="breadcrumb-item"><%= link_to "Email Notifications","/app/#{@app}/posts" %></li>
    <li class="breadcrumb-item"><a href="./">Email Templates</a></li>
    <li class="breadcrumb-item active">New Template</li>
  </ol>
</nav>
<div class="row align-items-center justify-content-between g-3 mb-5 col-12 col-md-auto">
  <h1 class="mb-0 pg-title"><%= @app %> New Template</h1>
</div>

<div class="tbl-wrapper container-fluid mx-0">
    <div class="row">
    <div class="col-md-6">
        <%= form_with(model: @email_templates) do |form| %>
            <% if @email_templates.errors.any? %>
                <div id="mb-3 error_explanation">
                    <h2><%= pluralize(@email_templates.errors.count, "error") %> prohibited this email_template from being saved:</h2>
                    <ul>
                        <% @email_templates.errors.each do |message| %>
                            <li><%= message.full_message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="grid-container">
                <div class="mb-3 field">
                    <%= form.label :title, class: 'form-label' %>
                    <%= form.text_field :title, required: true, class: 'form-control' %>
                </div>
                <div class="mb-3 field">
                    <%= form.label :content, class: 'form-label' %>
                    <%= form.text_area :content, required: true, class: 'form-control' %>
                </div>        
                <div class="actions">
                    <%= form.submit "Create Template", class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>
        <br/>
        <%= link_to 'Back', email_templates_path, class:'btn btn-secondary' %>
    </div>
    </div>
</div>