<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events 360</title>
  <%= javascript_include_tag 'home_page', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="theme-color" content="#7952b3">

      <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>

  <body>

<header>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Events 360</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <form class="d-flex">
        <%= link_to 'Login', users_path, class: 'btn btn-lg btn-primary' %></a>
        </form>
      </div>
    </div>
  </nav>
      <% flash.each do |message_type, message| %>
      <div id="login-alert" class="alert alert-<%= message_type %>"><b><i><%= message %></i></b></div>
    <% end %>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <%# <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button> %>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="80%" height="80%" fill="#777"/></svg> %>
        <img src="https://i.postimg.cc/rwjfpVwB/cast-NXT-Carousel.png" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            <%# <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> %>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%# <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> %>
        <img src="https://i.postimg.cc/XvDxwsFx/plan-NXT-Carousel.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%# <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> %>
        <img src="https://i.postimg.cc/bvv3D7Gs/event-NXT-Carousel.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">

          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <div class="row">
      <p class="lead">
        Events 360 is a wrapper web app that contains three web apps that automate major aspects of any event planning.
      </p>
    </div>

        <!-- Three columns of text below the carousel -->
    <div class="row d-flex align-items-stretch">
    <% apps = @apps.sort_by {|obj| obj.name} %>
    <% apps.each  do |app| %>
      <% if ENV['PROMOTED_APPS'].split(',').include?(app.name) %>
        <div class="col-lg-4">
          <div class="card h-100 border-0">
            <img src="<%= app.image_url %>" class="card-img-top img-fluid h-100" alt="<%= app.name %> logo">
            <div class="card-body">
              <p class="card-text"><%= app.description %></p>
              <a class="btn btn-primary" href="<%= app.homepage_url %>">View details &raquo;</a></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette justify-content-md-center">
      <div class="col-lg-4">
        <div class="card h-100 border-0">
          <img src="https://i.postimg.cc/tT6y96Ws/new-logo-69f3a3d6387fc3da1a6f20f186391c29ce88634670af0c0108205310a647c725.png" 
               class="card-img-top img-fluid h-100" alt="NXTFolio logo">
          <div class="card-body">
            <p class="card-text">Creative Industry visual "LinkedIn", matching App for Creative/Visual/Fashion industry professionals more accurately than existing apps in the market.</p>
            <a class="btn btn-primary" href="https://nxtfolio.herokuapp.com/">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>
  </body>
</html>
