<h1 class="pg-title"><u>User Type: <%= @user_type %></u></h1>
<div class="tbl-wrapper">
  <%= form_tag sendto_path, method: :post do %>   
  <table class="crm-tbl">
    <br/>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Membership Type</th>
      </tr>
    </thead>
        <tbody> 
            <% @type_user.each do |user| %>
                <tr>
                    <td><%= user['id'] %></td>
                    <td><%= user['name'] %></td>
                    <td><%= user['email'] %></td>
                    <td><%= user['user_type'] %></td>
                    <td>
                      <%= check_box_tag 'selected_user_ids[]', user['id'] %>
                      <%= label_tag "Selected" %>
                    </td>
                </tr>
            <% end %>
        </tbody>    
    </table>
    <br/>
    <%= submit_tag 'Select Recipients' %>
  <% end %>
  <br/>
  <%= link_to 'Back', new_post_path %>
</div>